# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
# Android
.gradle/
local.properties
**/android/key.properties
**/android/app/google-services.json
**/android/app/release.keystore

# iOS / macOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/ServiceDefinitions.json
**/ios/firebase_app_id_file.json
**/macos/Pods/
**/macos/Flutter/GeneratedPluginRegistrant.swift

# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3

# Fastlane (nếu dùng)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# Coverage report
coverage/
coverage*.lcov

# VSCode (nếu bạn không muốn chia sẻ config)
.vscode/

# Firebase / Secrets
google-services.json
GoogleService-Info.plist
firebase_options.dart
